body { 
    font-family: sans-serif; 
    text-align: center; 
    background: linear-gradient(to right, #fbc2eb, #a6c1ee); 
    height: 100vh; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
  }
  h1 { font-size: 1.5em; margin-bottom: 10px; }
  #word { 
    font-size: 50px; 
    font-weight: bold; 
    margin: 20px;
    white-space: pre-line;
  }
  #correction_mark { margin: 10px; font-size: 5em; }
  #message { margin: 10px; font-size: 1.2em; }
  #correction { margin: 10px; font-size: 1.2em; }
  #correct_word { margin: 10px; font-size: 2.5em; }
  input { 
    padding: 12px; 
    font-size: 1.2em; 
    width: 80%; 
    max-width: 300px; 
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
  }
  button { 
    margin-top: 12px; 
    padding: 12px 20px; 
    font-size: 1.2em; 
    border: none; 
    border-radius: 8px;
    background: #4a6cf7; 
    color: white;
    width: 80%;
    max-width: 300px;
  }
  #button_audio { 
    margin-top: 12px; 
    padding: 12px 20px; 
    font-size: 1.2em; 
    border: none; 
    border-radius: 8px;
    background: #4a6cf7; 
    color: white;
    width: 80%;
    max-width: 300px;
  }
  #score { margin-top: 20px; font-size: 1.5em; }